
.custom-tooltip { background-color: #E60000 !important;color: #fff !important;padding: 1px 18px;}

.recharts-yAxis { position: absolute;padding-left: 200px; }
.labarre { margin-bottom: 50px;}

.theline { padding-top: 50px;}