.lemenu { display: flex; }

.normal {
    display: flex;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding-left: 30px;
    width: 260px;
    justify-content: space-around;
  }
  .active {
    text-decoration: underline;
  }

  @media (max-width: 767px) {
    .lemenu { padding-left: 25px; }
    .normal {
        font-size: 12px;
        padding-left: 15px;
      }
}